@model AlaricandAssociatesElectronicsWholesale.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label" id="price">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field" id="price-value">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label" id="name">
         @Html.DisplayNameFor(model => model.productName)
    </div>
    <div class="display-field" id="name-value">
        @Html.DisplayFor(model => model.productName)
    </div>
    
    <div class="display-label" id="supplier">
         Supplier
    </div>
    <div class="display-field" id="supplier-value">
        @Html.DisplayFor(model => model.Supplier.supplierName)
    </div>

    <div class="display-label" id="inStock">
         @Html.DisplayNameFor(model => model.QtyInStock)
    </div>
    <div class="display-field" id="inStock-value">
        @Html.DisplayFor(model => model.QtyInStock)
    </div>

    <div class="display-label" id="describe">
         @Html.DisplayNameFor(model => model.productDescription)
    </div>
    <div class="display-field" id="describe-value">
        @Html.DisplayFor(model => model.productDescription)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
